<html>
    <head>
        <title>About Me</title>
      <%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
    <header>
        <h3>Panuganti Saikiran</h3>
    </header>
    <nav>
      <h1>Site Navigation</h1>
      <ui>About Me</ui>
      <ui>Blog</ui>
      <ui></ui>
    </nav>
    <img src="http://picbook.in/wp-content/uploads/2014/07/happy_diwali__sms_images_.jpg" border="0" width="304" height="228" />
    <section>
      <article>
        <h3>Web Blog</h3>
      </article>
    </section>
    <aside>
      <p>This is my page</p>
    </aside>
    <footer>
      <p>Footer</p>
    </footer>
    </body>
</html>